# Generic
# --------------------------
Thumbs.db
Desktop.ini
.directory
*.cache
*.old
*.log
*.pem
*.tmp
*.zip
._
*~

# Developments
# --------------------------
/storage/*.key
/tests/clover.xml
Homestead.json
Homestead.yaml
coveralls-upload.json
docker-compose.override.yml
node_modules
runtime-config.json
service-account.json
vendor
.env
.env.*
.firebaserc

# But Keep these
# --------------------------
!.env.example
!.htaccess
!.gitkeep
