# Enforce Unix newlines
* text=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Exclude unused files
/.devcontainer        export-ignore
/.dockerignore        export-ignore
# /.gitattributes       export-ignore
# /.gitignore           export-ignore
# /.github              export-ignore
# /docs                 export-ignore
# /resources/docs       export-ignore
# /tests                export-ignore
# /package.json         export-ignore
/docker-compose.yml   export-ignore
# /phpunit.xml          export-ignore
# /tsconfig.json        export-ignore
# /vite.config.ts       export-ignore
# /pnpm-lock.yaml       export-ignore
/CHANGELOG.md         export-ignore
