@import '@fontsource/nunito/400.css';
@import '@fontsource/nunito/400-italic.css';
@import '@fontsource/nunito/600.css';
@import '@fontsource/nunito/600-italic.css';
@import '@fontsource/nunito/700.css';
@import '@fontsource/nunito/700-italic.css';

#app {
  @apply min-h-screen w-full;

  .n-layout {
    /* --n-color: rgba(0, 0, 0, 0.7) !important; */
    @apply pt-6 sm:pt-0;

    &, & > &-scroll-container {
      @apply min-h-screen;
    }

    & > &-scroll-container > &-sider,
    & > &-scroll-container > &-content {
      @apply min-h-screen;
    }

    & > &-scroll-container {
      @apply  flex flex-col sm:justify-center items-center;

      > .n-space {
        @apply w-sm;
      }
    }

    &-content > &-scroll-container {
      @apply justify-start;

      > .n-space {
        @apply w-full p-8;
      }
    }
  }
}

.auth-bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dfe6f0;
}

a {
  @apply text-primary focus:outline-emerald-700 focus-visible:outline-emerald-700;
}

.table {
  @apply w-full text-sm;

  th, td {
    @apply px-3 py-2 select-none;

    &.action {
      @apply w-1/12 text-center;
    }
  }

  thead tr {
    @apply bg-gray-100 uppercase text-gray-500;
  }

  tbody tr {
    @apply border-t-1 border-t-gray-200 hover:bg-gray-50 cursor-pointer;

    &.no-content {
      @apply leading-10;
    }
  }
}
